
<html>
  <head>
  </head>

    <body>
          <div class="container">
            <!-- <div class="row profile">
            <div class="col-md-3"> -->
            </div>
            <!-- {{ loggedUserProfile| json}} -->
            <div class="col-md-9 wholeprofile">
                    <div class="profile-content">
                      <h3>My Profile</h3>                
                          <img *ngIf = "tempUrl" [src] = "url" class = "userprofile">
                            <img *ngIf = "!tempUrl" [src] = "loggedUserProfile" class = "userprofile">                  
                          <div>
                            <!-- <input type = "file" class = "file ">Change Profile -->
                                <span class="btn btn-primary btn-file file">
                                  change profile <input type="file" (change) = updateProfile($event)>
                                </span>
                          </div>

                      <!-- <input name="" class="form-control" placeholder="Name" type="text" #nm> -->
                      <div class="form-group input-group name">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><b>Name:</b><i class="fa fa-user"></i> </span>
                           </div>
                              <input name="" class="form-control" type="text" value = {{loggedUserName}} #nm>
                      </div> <!-- form-group// -->
                      <div class="form-group input-group email">
                              <div class="input-group-prepend">
                                <span class="input-group-text"> <b>Email:</b><i class="fa fa-envelope"></i> </span>
                             </div>
                              <input name="" class="form-control"  type="email" value = {{loggedUserEmail}} disabled #em>                            
                      </div> 
                      <input type = "submit" class = "btn btn-success" (click) = "submit(nm,em)">
                    </div>
 
                    <div></div>
            </div>
          <!-- </div>
        </div> -->
        <br>
        <br>
      </body>
  </html>
  <router-outlet></router-outlet>