<router-outlet></router-outlet>
<html>
 <head>
    
 </head>
 <body>
   <div class="wrapper fadeInDown maindiv">
      <div id="formContent">
      
        <div id="formFooter" class = "header">       
          <h3 class="underlineHover3 h3">Login</h3>
       </div>       
            <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"name="email" placeholder="Email" required ngModel #emailref="ngModel" #em>
            <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" >
               <div [hidden]="!emailref.errors?.pattern" style= "color:red">
                 Invalid Email Address
               </div> 
               <div [hidden] = "!emailref.errors.required"  style= "color:red" >
                Email is required
               </div>
            </div> 
     
          <input type="password" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  id="password" class="fadeIn third" name="login" required ngModel #passref="ngModel" placeholder="password" required #pd>
          <div *ngIf="passref.errors &&(passref.touched || passref.dirty)" >
              <div [hidden] = "!passref.errors.required"  style= "color:red" >
                  Password is required
              </div>
          </div>
          <input type="submit" class="fadeIn fourth" value="Log In" (click) = "SubmitData(em,pd)"  >
     
           <div id="formFooter">       
              <a class="underlineHover" routerLink = "/Register">Register?</a>
           </div>      
      </div>
  </div>

 </body>
</html>