
<router-outlet></router-outlet>
<html>
<head>
</head>
<body>
<div class = "maindiv">
<div class="container">
<br>

<hr>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	
	<form>
            <div class="img_cont" >
                    <img *ngIf = "!showTempUrl" [src]= defaultProfile  class = "profile">		
                    <img *ngIf = "showTempUrl" [src]= tempurl  class="profile">		
                </div>
                <span class="btn btn-success btn-file file ">
                     Profile <input type="file"  id="fl"  (change)="handleFileInput($event)" >
               </span>

	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Name" type="text" required #nm>
  </div> 
  <!-- form-group// -->
    <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <!-- <input name="" class="form-control" placeholder="Email address" type="email" required #em>      -->
            <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"name="email" placeholder="Email" required ngModel #emailref="ngModel" #em>      
    </div>
    <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" >
            <div [hidden]="!emailref.errors?.pattern" style= "color:red">
                Invalid Email Address
            </div> 
            <div [hidden] = "!emailref.errors.required"  style= "color:red" >
                Email is required
            </div>
    </div>
     
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
	  	</div>
        <!-- <input class="form-control" placeholder="Create password" type="password" required #pd> -->
        <input type="password" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  id="password" class="form-control" name="login" required ngModel #passref="ngModel" placeholder="password" required #pd>
    </div> 
    <div *ngIf="passref.errors &&(passref.touched || passref.dirty)" >
            <div [hidden] = "!passref.errors.required"  style= "color:red" >
                Password is required
            </div>
    </div>

    <!-- <span class="btn btn-success btn-file file">
       Profile<input type = "file"  id="fl" (change)="handleFileInput($event)" />
    </span> -->

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" (click) = "SubmitData(nm,em,pd)" routerLink = "/Login"> Create Account  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a routerLink = "/Login">Log In</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
</div>

</body>
</html>