.container{
    width : 400px;
  /*  text-align: center; */
}
.ancr{
  float:right;
  color: black
 /* margin-left:20px;*/
}

.msg_send_btn2 {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  /* left: 0; */
  margin-left:30px;
  top: 11px;
  width: 33px;
}
.btn-file {
  position: relative;
  overflow: hidden;
  text-align:center;
  margin-left:75px;
  margin-bottom: 5px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}
.profile {
  height:70px;
  width:70px;
  text-align:center;
  margin-left:75px;
  margin-bottom: 5px;
  border-radius: 50%;
}
/* 
body {
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
} */


body {
  margin: 0; 
 
  /* background : linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
}
