<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
      <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		 -->
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		</head>
	<!--Coded With Love By Mutiullah Samim-->
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
					  <div>		
						  <img [src] =loggedUserProfile class="rounded-circle user_img"  (click) = "myFunction()">
							<p style = "color : white">&nbsp;&nbsp;<b>{{loggedUser}}</b></p>    						
						</div>
						<button id="myBtn" class = "btn btn-default addbutton" style = "float:right;" (click) = "openModal()"><i class="fa fa-plus"></i></button>
						<div class="input-group">								
							<input type="text"  (keyup) = "onkey($event)" placeholder="Search..." name="" class="form-control search" #bn>
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						<!-- <ui class="contacts"> -->
            <div class="contacts">
			     <!-- {{i.notification}} -->

						<li>
								<div  *ngIf = "showRecord">

									<div class="d-flex bd-highlight" *ngFor = "let i of userDataObject;let j = index " style = "margin-top:20px;">
										<!-- <div id = "message1" *ngIf = "this.clickUser_UserId != i.userId"> -->
											<div id = "message1">
												<span class="chat_date badge badge-light" id = "message">
													<div *ngIf = "i.notification > 0" >{{i.notification}}</div>
												</span>
											</div>
										<!-- </div> -->
									
											<!-- {{finalUnseenNotification[j]}} -->
											<div  *ngIf = "i.url != ''" class="img_cont">
												<img [src]= i.url  class="rounded-circle user_img">				
												<!-- class="rounded-circle user_img" -->
											</div>
											<div *ngIf = "i.url == ''">
												<div id = "profileImage" style = "text-align: center;">
												{{i.Durl}}
												</div>
											</div>
										
											<div class="user_info">
												<span  (click) = "getReceiverNew(i,j)" style = "margin-top:0px;" >{{i.name}}</span><span class="chat_date badge badge-light" id = "message" style = "color:blue"></span>
												<p style = "margin-bottom:0px;">{{i.message}}&nbsp;&nbsp;{{i.date}}</p>   
											</div>								
									</div>
								</div>

								  <div  *ngIf = "!showRecord">
									<div class="d-flex bd-highlight" *ngFor = "let i of searchUserDataArray;let j = index ">
										<div class="img_cont">
											<img [src]= i.url class="rounded-circle user_img">					
										</div>
										<div class="user_info">
											<span  (click) = "getReceiverNew(i,j)" >{{i.name}}</span><p id = "message"></p>
											<p>{{i.message}}<span  style = "float:right;"><b>{{i.date}}</b></span></p>   
										</div>
										<br/><br/>
									</div>
								</div>
						</li>

            </div>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<!-- header -->
					 <div >
								<div class="card-header msg_head">
									<div class="d-flex bd-highlight">

										 <!---------------  header for connected suer ----------------> 
										<!-- <div  *ngIf = "showRecord">  -->
											<div>
													<!-- <div *ngFor = "let i of userDataObject;let j = index;">        
															<div *ngIf = "checkname == j" class = "header">
																	<p><b>{{i.name}}</b></p>  
																	<hr/>            
															</div> 
													</div> -->
													<div>        
														<div class = "header">
																<p style = "color:white"><b>{{clickuserName}}</b></p>  
																<hr/>            
														</div>
    <!----------------  icons in header ------------->
													  <span id = "editProfile2" class = "editicon2" style = "color:white;position: absolute;right:20px;top:10px;font-size: 20px; cursor: pointer;" >
																<span  id="plusgp" class = "edit" style = "margin-right:20px;display:none" (click)="open(content)" ><i class="fa fa-edit"></i></span>	
													  </span>
														<div *ngIf = "showIcon" class = "icons" id = "action_menu_btn"  style = "margin-right:70px;">								  
																<!-- <span id="plus" class = "edit" style = "margin-right:10px;" (click)="open(content)"><i class="fa fa-edit"></i></span>  -->
															  <span id="plus" class = "add" *ngIf = "creatorOfClickedGroup == userid" (click) = "openModalForUser()"><i class="fa fa-user-plus" ></i></span>
														 </div>
														 
													</div>
                <!---------------  This is for the request and refuse ------------->
													<!-- <div *ngIf = "request == false" class = "button">
														 <div>
																<button class = "btn btn-success" id = "accept_id" (click) = "acceptRequest()">Accept</button>&nbsp;
																<button class = "btn btn-danger" id = "refuse_id" (click) = "refuseRequest()">Refuse</button>&nbsp;
															</div>
													</div> -->
											</div> 								
									</div>

									<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                  
									<div class="action_menu">
										<ul>
											<li routerLink = "/profile/{{userid}}">View profile</li>
											<li (click) = "logoutUser()" routerLink = "/Login" >logout</li>
											<li routerLink = "/Register">Register</li>
										</ul>
									</div>
									
								</div>
					  </div>
								<!-- message -->
						<div class="card-body msg_card_body" >
								<div *ngIf = "request == false" class = "button">
										<div class = "request">
											  <div>
													<p class = "rp" ><b>{{clickuserName}} </b>send a message {{requestedPersonMessage}}</p>
													<button class = "btn btn-success" id = "accept_id" (click) = "acceptRequest()">Accept</button>&nbsp;
													<button class = "btn btn-danger" id = "refuse_id" (click) = "refuseRequest()">Refuse</button>&nbsp;
										   </div>
											</div>
								 </div>
          <!-- display welcome profile of logged user -->
							<div *ngIf = "!showText" >
								<div style = "text-align:center;margin-top:175px;">
								  <img [src] =loggedUserProfile class="rounded-circle user_img" style = "height:200px;width:200px">
								 <p style = "color : white">Welcome, <b>{{loggedUser}}</b></p>    
								 </div>
							</div>

									<div *ngIf = "showBlockNewUser">
											<!-- <button (click)="notify()">Show Notiication</button> -->
										<div  *ngFor = "let i of allFinalMessage">
												<div *ngIf = "i.userId == clickUser_UserId;else elseblock">
																<div class="d-flex justify-content-start mb-4">								
																			<div class="img_cont_msg">
																				<img [src]=clickedUserProfile class="rounded-circle user_img_msg">													
																			</div>
																			<div>	
																					<p class = "para" >{{clickuserName}}, {{i.time}}</p>
																					<div class="msg_cotainer" *ngIf = " i.message != ''; else elseblock1">																	
																						{{i.message}}
																					</div>
																			</div>
																			<ng-template #elseblock1>
																				<div  class="msg_cotainer">
																						<a href = "{{i.url}}" download  target = "_blank">{{i.name}}</a>
																				</div>
																			</ng-template>
																</div>
												</div>	
												<ng-template #elseblock>
<!---------------------  for group --------------------------->
														<div *ngIf = "receiverGroup == '-';else elseblock2">														
																	<div *ngIf = "i.userId != userid;else elseblock21">
																			<div class="d-flex justify-content-start mb-4">		
																					<div class="img_cont_msg">
																							<img [src]=i.profile class="rounded-circle user_img_msg">													
																						</div>		
																					<!-- <div style = "color:white">{{i.sender}}</div>&nbsp; -->
																					<div>
																						<p  class = "para" >{{i.sender}}, {{i.time}}</p>
																						<div class="msg_cotainer" *ngIf = " i.message != ''; else elseblock1">																	
																							{{i.message}}
																						</div>
																					</div>
																					<ng-template #elseblock1>
																						<div  class="msg_cotainer">
																								<a href = "{{i.url}}" download  target = "_blank">{{i.name}}</a>
																						</div>
																					</ng-template>
																		  </div>
																	</div>
																	<ng-template #elseblock21>
																			<div class="d-flex justify-content-end mb-4">
																			    <div>
																						<p  class = "para">{{i.time}}</p>
																						<div class="msg_cotainer_send">	
																								<div class="sent_msg"  *ngIf = " i.message != ''; else elseblock2" >
																									{{i.message}}										
																								</div>														
																								<ng-template #elseblock2>
																										<div class="sent_msg" id = "" >														
																												<a href = "{{i.url}}" download >{{i.name}}</a>												
																										</div>
																								</ng-template>	
																						</div>	
																					</div>																
																			</div>	
																	</ng-template>
														</div>
        <!-------------------- for group ----------------------->
                           <ng-template #elseblock2>
																<div class="d-flex justify-content-end mb-4">
																	<div>
																			<p class = "para">{{i.time}}</p>
																			<div class="msg_cotainer_send">										
																					<div class="sent_msg"  *ngIf = " i.message != ''; else elseblock2" >
																						{{i.message}}										
																					</div>														
																					<ng-template #elseblock2>
																							<div class="sent_msg" id = "" >														
																									<a href = "{{i.url}}" download >{{i.name}}</a>												
																							</div>
																					</ng-template>	
																			</div>		
																		</div>															
																</div>	
															</ng-template>
												</ng-template>	
									
										</div>
									</div>

						</div>

						<!-- footer -->
					<div *ngIf = "showText">
						<div class="card-footer">								
							<div class="input-group-exp">
								<div class="input-group-append">

										<span class="input-group-text attach_btn">
										<div class="file">
												<label class="file-label">
													<input class="file-input" type="file" name="resume" style = "display:none">
													<span class="file-cta">
														<span class="file-icon" style = "color : white">												
															<i class="fas fa-paperclip"></i>
														</span>
														<span class="file-label">
														</span>
													</span>
												</label>
											</div>
											</span>									
								<textarea name="" class="form-control type_msg " placeholder="Type your message..." id = "txt"  #msg></textarea>
									<span class="input-group-text send_btn" (click) = "submitMessage(msg)" ><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
						</div>

						<!-- Trigger/Open The Modal -->
				
						
						<!-- The Modal -->
				<div class = "container">
						<div id="myModal" class = "modal">
						
							<!-- Modal content -->
	<!-----------------------  Modal for create the group ------------------>						
							<div class="modal-content" class ="mainmodal" style = "background-color:white;width:40%; margin: 100px auto 0 auto;">
								<div class="modal-header">
										<h2>Create Group</h2>&nbsp;&nbsp;
										<span class="close" (click) = "closeModal()">&times;</span>				
								</div>
								<br/>
								<div class="modal-body">
										<div class = "profile">
										  		<div class="img_cont" class = "profile">
														<img [src]= groupProfile  class="rounded-circle user_img">				
													</div>
													<span class="btn btn-success btn-file file profile">
														 Profile <input type="file" (change) = createProfile($event)>
													</span>
										</div>
										<input type="text"  placeholder="Group Name" name="" class="form-control search" id = "txt" [(ngModel)]='listFilter' #bn>
										<button class = "btn btn-primary" (click) = "submitGroup(bn)" style = "margin-bottom:5px;"  id="btSubmit" [disabled]="!listFilter" >Done</button>
										<div *ngFor = "let i of connectedUsers;let j = index ">
											  	<div  class="image">
															<img [src] = i.url class = "rounded-circle user_img_msg">	&nbsp;	
													  	{{i.name}} &nbsp;
														 <!-- <span style = "float:right;"><input type = "checkbox" id = "ck1" name = "chkbx" value = "{{i}}"  [checked]="userDataObject.indexOf(i) >= 0" (change) = "createGroup(i,$event)"/>	</span>	 -->
														<span style = "float:right;"><input type = "checkbox" id = "ck1" name = "chkbx" value = "{{i}}"  (change) = "createGroup(i,$event)"/>	</span>	
													</div> 
										</div>
								</div>
								<div class="modal-footer">
										<!-- <h3>Modal Footer</h3> -->
								</div>
							</div>
						
						</div>
						<!--------- modal for adding new  users in group  ----------->
						<div id="myModalUser" class = "modal">
								<div class="modal-content" class ="mainmodal" style = "background-color:white;width:40%; margin: 100px auto 0 auto;">
										<div class="modal-header">
												<h2>Add Users </h2>&nbsp;&nbsp;
												<span class="close" (click) = "closeModal()">&times;</span>				
										</div>

										<div class="modal-body">
											 <button class = "btn btn-primary" (click) = "submitaddUserInGroup()" style = "margin-bottom:5px;" >Done</button>
												<div *ngFor = "let i of remainingUserInGroup;let j = index ">
															<div  class="image">
																	<img [src] = i.url class = "rounded-circle user_img_msg">	&nbsp;	
																	{{i.name}} &nbsp;
																  <!-- <span style = "float:right;"><input type = "checkbox" id = "ck1" name = "chkbx" value = "{{i}}"  [checked]="userDataObject.indexOf(i) >= 0" (change) = "createGroup(i,$event)"/>	</span>	 -->
																  <span style = "float:right;"><input type = "checkbox"id="checkme" name = "chkbx" value = "{{i}}"  (change) = "addUserInGroup(i,$event)" />	</span>	
															</div> 
												</div>
										</div>
								</div>		
						</div>
						<!------------ modalfor adding new  users in group  --------->				

						<!----------- modal for edit group profile --------------->		  
						<ng-template #content let-modal >
							<div class = "editgroupprofile">
										<div class="modal-header">
													<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
													<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
														<span aria-hidden="true">&times;</span>
													</button>
										</div>

										<div class="modal-body">
													<form>
														<div class="form-group">
																<!-- <label for="dateOfBirth">Date of birth</label> -->
																<div class = "profile">
																	<div class="img_cont profile" style = "margin-left:200px;">
																			<img *ngIf = "showTempUrl" [src]= tempurl  class="rounded-circle user_img ">			
																			<img *ngIf = "!showTempUrl" [src]= getClickUserData.url  class="rounded-circle user_img">				
																	</div>
																		<span class = "btn btn-primary btn-file file">
																			Profile<input type="file"  (change) = updateGroupProfile($event)>
																		</span>
																</div>

																<div class="input-group">
																	<input id="dateOfBirth" class="form-control" name="dp" value = "{{clickuserName}}" ngbDatepicker #dp="ngbDatepicker" #nm>
																	<div class="input-group-append">
																		<!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
																				<button class = "btn btn-primary" (click) = "updateGroupData()"></button>
																	</div>
																</div>
															</div>
													</form>
										</div>

										<div class="modal-footer">
													<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"  (click) = "updateGroupData(nm)">Save</button>
													<!-- <button class = "btn btn-primary" (click) = "updateGroupData(nm)"></button> -->
										</div>
									</div>	
							</ng-template>
						<!------------complete the modal for edit group profile -------------->
				</div>
					<!-- modal complete -->	
						
						
					</div>
				</div>
			</div>
		</div>
		<!--------------------------- extera code start -------------------->
		
		<!----------------------- extra code complete -------------------->
	</body>
</html>
