<html>
<head></head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-ite">
          <h3>Chatting Application</h3>
      </li>
 
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/Register" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/Register">About</a>
      </li>
   
      <li class="nav-item active">
          <a class="nav-link" routerLink = "/Register">Sign Up</a>
      </li>
      <li  *ngIf = "!flag" class="nav-item active">
          <a class="nav-link" routerLink = "/Login">Sign In</a>
      </li>
      <li  *ngIf = "flag" class="nav-item active">
        <a class="nav-link" (click) = "logoutUser()" routerLink = "/Login">Logout</a>
     </li>
      <li class="nav-item dropdown">
     
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
</body>
</html>

<router-outlet></router-outlet>