.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; 
}

.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
/*changes below */
/* .inbox_chat { 
  height: 550px; overflow-y: scroll;
} */

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
/*changes below */
.outgoing_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { 
  /*change below */
  /* width: 57%; */
  width : 50%;
}
.mesgs {
  float: left;
  /*change below */
  /* padding: 30px 15px 0 25px; */
  padding: 30px 15px -5px 25px;
  width: 60%;
  /* change */
  /* margin-top:200px; */
  /* margin-bottom: 200px; */
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%; 
 
}
.outgoing_msg{ 
  overflow:hidden; 
  margin:26px 0 26px;

}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  /*change below two line */
  /*background: rgba(0, 0, 0, 0) none repeat scroll 0 0;*/
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  /*width : 100%*/
  width: 78%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  /*add new line*/
  /* margin-top:50px; */
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.msg_send_btn2 {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  /*change below*/
  /* left: 0; */
  margin-left:30px;
  top: 11px;
  width: 33px;
}

.msg_send_btn3 {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  /* position: absolute; */
  
  /* margin-left:30px; */
  /* top: 11px; */
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
/*changes below */
.msg_history {
  /*height: 516px;*/
  height:200px;
  overflow-y: auto;
}
/* This one previous */
/* .button{
  float: right;
} */
.form-group{
float : right;
}
.btn{
  float: right;
}
.three-dot{
  float: right;
  margin-top:5px;
}
.image{
   height:35px;
   width:40px;
   border-radius: 50%;
}
.select{
  margin-right:0px;
  float : left;
}
.header{
  background:#ebebeb;
  /*background:#05728f; */
}

 /* this is for input type file  */
.file{
  margin-top: 20px;
  margin-right:50px;
}

/* this is for make button of input type file*/
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}

 /* for threee dots */
 .dropdown-content {
  position: relative;
    display: inline-block;
    display: none;
    position: relative;
    background-color: #f9f9f9;
    /* change 60 instead of a 160px*/
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 12px;
    z-index: 1;  
    

    /* margin-left:400px; */
  }
  .dropdown:hover .dropdown-content {
    display: block;
    float:right;
    /* margin-left:320px; */
    /* margin-right:-40px; */
    /* margin-bottom: 800px; */
    margin-top:15px;
    /* margin-left:400px; */
  }
  .dropdown{
    margin-top:5px;
    /* margin-bottom:30px; */
  }
  .dots{
    margin-bottom: 70px;
  }
.li{
  list-style:none;
}
/*using background property */
/* div{
  width:100px;
  height:300px;
  background-image:redial-gradient(circle at center,black 10px,transparent 10px);
  background-size:100px 100px;
} */


/* This is for the profile image */
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/
