<router-outlet></router-outlet>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->
</head>

<body>
<div class="container">
  <br/><br/>
<div class="messaging">
     <div class="inbox_msg">    
      <div class="inbox_people">
        <div class="headind_srch">
              <div class="chat_img">
                 <img [src] =loggedUserProfile class = "image"  (click) = "myFunction()">
                 <!-- <input type = "file" class = "msg_send_btn3" (change) = changeprofile($event) >    
                 <input type = "submit" (click) = "go()"> -->
               </div>
              <div >
                   <p>&nbsp;&nbsp;<b>{{loggedUser}}</b></p>    
                   <div class="dropdown"><i class="fa fa-ellipsis-h three-dot dots"></i>
                       <div class="dropdown-content">
                         <li class = "li"(click) = "logoutUser()" routerLink = "/Login" >Logout</li>
                         <li class = "li" routerLink = "/profile/{{userid}}">Profile</li>   
                      </div>
                   </div>   
              </div>

             <div class="recent_heading">
               <h4>Recent</h4>
             </div>

            <div class="srch_bar">
              <div class="stylish-input-group">
                <input  (keyup) = "onkey($event)" class="search-bar"  placeholder="Search" #bn>
                <span class="input-group-addon">
                <button type="button"><i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
        </div>
          <!-------------  display connected users --------------->
          <div class="inbox_chat">  
             <div class="chat_list active_chat">
                  <!-- <div *ngIf = "showRecord">
                      <div  class="chat_people"  *ngFor = "let i of otherUsers;let j = index ">
                        <div class="chat_img"> <img [src]= i.url class = "image" > </div>               
                        <div class="chat_ib">
                            <h5 (click) = "getReceiverNew(i,j)">{{i.name}}<span class="chat_date badge badge-light" id = "message" >{{finalUnseenNotification[j]}}</span></h5>   
                            <p>{{lastFinalMessage[j]}}<span class="chat_date" style = "float:right;"><b>{{lastMessageDate[j]}}</b></span></p>       
                            <br/>
                        </div>
                      </div>
                  </div> -->
                  <!-- {{i.notification}} -->
                  <div  *ngIf = "showRecord">
                    <div  class="chat_people"  *ngFor = "let i of userDataObject;let j = index ">
                      <div class="chat_img"> <img [src]= i.url class = "image" > </div>               
                      <div class="chat_ib">
                          <h5 (click) = "getReceiverNew(i,j)">{{i.name}}<span class="chat_date badge badge-light" id = "message" ></span></h5>   
                          <p>{{i.message}}<span class="chat_date" style = "float:right;"><b>{{i.date}}</b></span></p>       
                          <br/>
                      </div>
                    </div>
                </div>
                
              <!------------ This is for get searchble user --------------->
                  <div *ngIf = "!showRecord">
                    <div class="chat_people"  *ngFor = "let i of searchUserDataArray;let j = index;">
                      <div class="chat_img"> <img [src]= i.url class = "image" > </div>               
                      <div class="chat_ib">
                        <h5 (click) = "getReceiverNew(i,j)">{{i.name}}<span class="chat_date badge badge-light" id = "message" > </span></h5>   
                        <p> <span class="chat_date" style = "float:right;"><b> </b></span></p>       
                        <br/>
                      </div>
                    </div>
                  </div>
            </div>           
          </div>
      </div>
   
        <!-- <div *ngFor = "let i of otherUsers | orderBy:'name'">
             <p>{{i}}</p>
        </div> -->

      <div *ngIf = "request == false" class = "button">
            <button class = "btn btn-success" id = "accept_id" (click) = "acceptRequest()">Accept</button>&nbsp;
            <button class = "btn btn-danger" id = "refuse_id" (click) = "refuseRequest()">Refuse</button>&nbsp;
      </div>
 <!---------------  header for connected suer ----------------> 
     <!-- <div  *ngIf = "showRecord">  -->
       <div>
        <!-- <div *ngFor = "let i of userDataObject;let j = index;">        
            <div *ngIf = "checkname == j" class = "header">
                <p><b>{{i.name}}</b></p>  
                <hr/>            
            </div>
        </div> -->
        <div>        
          <div class = "header">
              <p><b>{{clickuserName}}</b></p>  
              <hr/>            
          </div>
        </div>
    </div> 
  
 <!-------------- header for searchable users --------------->
     <!-- <div  *ngIf = "!showRecord"> 
      
        <div *ngFor = "let i of searchUserDataArray;let j = index;">           
            <div *ngIf = "checkname == j" class = "header">
                <p><b>{{i.name}}</b></p>  
                <hr/>            
            </div>
        </div>
     </div>  -->
<!-- {{showRecord}} -->
    
    <div class="mesgs">
      <div  class="msg_history">
        <!-- {{changeProfile}}
         <div *ngIf = "changeProfile == 1"> -->
          <!------------- display other user message ---------------> 
          <div>
             <div class="incoming_msg" id = "" *ngFor = "let i of displayMessage;">   
              
                 <div class="incoming_msg_img"><img [src]=clickedUserProfile class = "image" > </div>
                  <div class="received_msg" id = "d">{{i.time}}
                     <div class="received_withd_msg" id = "" *ngIf = " i.message != ''; else elseblock">
                       <!-- <img [src] = i.url />  -->                 
                         <p>{{i.message}}</p>   <br/>  
                     </div>
                     <ng-template #elseblock>
                        <div class="received_withd_msg" id = "" style = "height:200px;width:220px;">
                            <img *ngIf = "!downloadImage" [src] = i.url  (click) = "downloadFile(i.url)" />   <br/>   
                         <p *ngIf = "downloadImage" >   <a href = "{{i.url}}"  download="{{i.name}}" > <img src = "{{i.url}}" alt = "image"  /> </a>  </p>   
  
                          </div>
                       </ng-template>
                 </div>         
            </div>
          </div>               
  
        <!----------- display own messages --------------->
            <div >
              <div class="outgoing_msg"  *ngFor = "let i of userNewMessage;let j =index;">
                  <!-- <div class="outgoing_msg_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div> -->
                  <p style = "float : right;">{{i.time}} </p>
                  <div class="received_msg">
                        <div class="sent_msg"  *ngIf = " i.message != ''; else elseblock" >
                            <p>{{i.message}}</p>
                        </div>
                        <ng-template #elseblock>
                            <div class="sent_msg" id = "" style = "height:200px;width:220px;">
                                <img [src] = i.url />   <br/>                      
                            </div>
                          </ng-template>
                  </div>             
              </div>
         </div>    
        </div> 
         
          <!-- <input type="file"  id="fl" (change)="handleFileInput($event)">
          <button type = "button"  (click) = "onSubmitFile()">Go</button> -->
<!---------------  this is for the write text messages -------------->
          <div class = "type_msg" >
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" id = "txt"  #msg/>
              <span class="btn btn-primary btn-file file "><input type="file"  id="fl" (change)="handleFileInput($event)" ></span>
              <!-- <button class="msg_send_btn2" type="button"  ><i class="fa fa-file-audio-o"></i></button> -->
              <button class="msg_send_btn" type="button" (click) = "submitMessage(msg)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>         
             </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html> 
